/**
 * The `env()` function used in this block of code
 * allows us to reference special variables that might be defined
 * by certain browsers. In this case, we are making sure that
 * the app stays within the 'safe' viewable area of a mobile phone,
 * and isn't covered up by the phone's UI.
 *
 * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/env
 */

.Layout {
	display: flex;
	flex-direction: column;
	height: 100dvh;
}

.Layout > * {
	/* padding-inline: min(5dvw, 3.2rem); */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.Layout-header {
	background-color: var(--color-bg);
	text-align: center;
	/* padding: 0.2rem; */
	background: radial-gradient(#f8f9fa 0%, #fdeecd 60%);
	color: #003780;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.Layout-header img {
	width: 200px;
}

.swift-header {
	font-family: 'Spectral', Georgia, 'Times New Roman', Times, serif;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0.2rem;
	font-size: 7rem;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
	margin: 0;
	z-index: 1;
}

.shop-header {
	text-transform: uppercase;
	font-family: 'Spectral', Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
	letter-spacing: 2rem;
	font-size: 3rem;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
	text-align: center;
	margin: 0;
	z-index: 1;
}

.Layout-main {
	margin: 0 auto;
	padding-block: 0;
	padding-block-end: 6.26rem;
	width: min(70%);
}

@media (600px < width < 900px) {
	.Layout-header img {
		width: 150px;
	}
	.swift-header {
		font-size: 5.5rem;
	}
	.shop-header {
		font-size: 2rem;
	}
}

@media (width < 600px) {
	.Layout-header img {
		width: 100px;
	}
	.swift-header {
		font-size: 4rem;
	}
	.shop-header {
		font-size: 1rem;
	}
}
